@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Poppins", sans-serif;
	background-color: rgb(245, 244, 239) !important;
}
html,
body {
	height: 100%;
}

.btn-add {
	background-color: #2970da;
	color: white !important;
	text-decoration: none;
	box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.3);
}

.detail-container {
	margin: 0 auto;
	width: 90%;
}

@media only screen and (max-width: 500px) {
	/* For mobile: */

	.container {
		margin: 0 auto;
		padding: 0;
	}
}
@media only screen and (min-width: 600px) {
	/* For tablets: */

	.container {
		margin: 0 auto;
		padding: 6rem 0;
	}
}
@media only screen and (min-width: 768px) {
	/* For desktop: */
}
